/* Ejemplo de estilos para resaltado de sintaxis personalizado */

.keyword {
    color: blue; /* Color para palabras clave */
  }
  
  .identifier {
    color: green; /* Color para identificadores */
  }
  
  .comment {
    color: gray; /* Color para comentarios */
  }
  
  /* Agrega más reglas de estilo según sea necesario para otros tipos de tokens */
  /* Define colores para diferentes tipos de tokens */
.t_num {
  color: blue; /* Color azul para números */
}

.t_asignacion {
  color: green; /* Color verde para operadores de asignación */
}

