{% extends 'base.html' %}

{% block content %}
<footer class="footer mt-5">
    <div class="container text-center">
        <p>Universidad Mariano Gálvez de Guatemala</p>
        <p>Semestre 7 - Ingeniería en Sistemas</p>
        <p>Curso de Compiladores</p>
        <a href="https://github.com/tu_usuario/tu_repositorio" target="_blank">
            <img src="{% static 'github-icon.png' %}" alt="GitHub Repository" style="width: 30px; height: 30px;">
        </a>
    </div>
</footer>
{% endblock %}