{% extends 'base.html' %} {% block content %}

<meta charset="UTF-8">

<style>
  .hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
</style>
<link rel="stylesheet" href="../../staticfiles/consola.css" />
<link rel="stylesheet" href="../../staticfiles/codigo.css" />

<h1 class="display-1 text-center mb-5 mt-2">Sube tu archivo</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form }}
  <br />
  <button class="btn btn-primary" type="submit">Subir archivo</button>
  <hr />
</form>

<h2>Código:</h2>
<form
  action="{% url 'modify_file' %}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <input type="hidden" name="file_name" value="{{ file_name }}" />
  <div class="container h-100">
    <div class="row h-100 mb-5">
      <div class="col-16 mb-1">
      <div class="container">
        <div class="row">
          <div class="editor">
            <div class="line-numbers">
              <span></span>
            </div>
            <textarea id="codigo" name="codigo" spellcheck="false" cols="500">{{ file_text }}</textarea>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>

<p id="codigo2" style="display: none;"></p>

<button class="btn btn-primary" type="button" onclick="analisisLexico()">Analisis léxico</button>
<button class="btn btn-secondary" type="button">Analisis Sintáctico</button>

{% if message %}
<p id="message" class="alert alert-success mt-2">{{ message }}</p>
{% endif %} {% if error %}
<p id="error" class="alert alert-danger mt-2">{{ error }}</p>
{% endif %}

<script src="../../staticfiles/consola.js"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    const codigo = document.getElementById('codigo');
    const codigo2 = document.getElementById('codigo2');

    codigo.addEventListener('input', function() {
      codigo2.innerHTML = codigo.value;
    });
  });

  function analisisLexico(){

    const codigo = document.getElementById('codigo');
    const codigo2 = document.getElementById('codigo2');
    codigo2.innerHTML = codigo.value;

    let script = document.createElement('script');
    script.src = '../../staticfiles/lexico.js';
    document.head.appendChild(script)
  }
  console.log('hola');
</script>

<h1>Tabla de tokens</h1>

<div id="tokens-container"></div>

<h1>Tabla de errores</h1>

<div id="tokens-container-error"></div>

<style>
  /* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Estilos para las celdas de la tabla */
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilos para el encabezado de la tabla */
th {
  background-color: #4CAF50;
  color: white;
}

#tokens-container-error th{
  background-color: #d32727;
  color: white;
}

</style>

{% endblock %}
