{% extends 'base.html' %} {% block content %}

<meta charset="UTF-8" />

<style>
  .hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
</style>
<link rel="stylesheet" href="../../staticfiles/consola.css" />
<link rel="stylesheet" href="../../staticfiles/codigo.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css"
/>

<h1 class="display-1 text-center mb-5 mt-2">Sube tu archivo</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form }}
  <br />
  <button class="btn btn-primary" type="submit">Subir archivo</button>
  <hr />
</form>

<h2>Código:</h2>
<form
  action="{% url 'modify_file' %}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <input type="hidden" name="file_name" value="{{ file_name }}" />
  <div class="container h-100">
    <div class="row h-100 mb-5">
      <div class="col-16 mb-1">
        <div class="container">
          <div class="row">
            <textarea id="codigo" name="codigo" spellcheck="false" cols="500">
{{ file_text }}</textarea
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<p id="codigo2"></p>

<button class="btn btn-primary" type="button" onclick="analisisLexico()">
  Analisis léxico
</button>
<button class="btn btn-secondary" type="button">Analisis Sintáctico</button>

{% if message %}
<p id="message" class="alert alert-success mt-2">{{ message }}</p>
{% endif %} {% if error %}
<p id="error" class="alert alert-danger mt-2">{{ error }}</p>
{% endif %}

<script src="../../staticfiles/consola.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/javascript/javascript.min.js"></script>

<script>

var editor;

  document.addEventListener("DOMContentLoaded", function () {
    CodeMirror.defineMode("zypher", function () {
      var palabrasReservadas = [
        "ontzy",
        "fluetzy",
        "complixzy",
        "traizy",
        "felsizy",
        "strongzy",
        "rew-strongzy",
        "fstrongzy",
        "lostzy",
        "traplizy",
        "sitzy",
        "nunizy",
        "ofzy",
        "ilsizy",
        "ilofzy",
        "furzy",
        "in",
        "wholizy",
        "du",
        "pesszy",
        "cuntonaizy",
        "clesszy",
        "silfzy",
        "__onotzy__",
        "niwzy",
        "super",
        "clszy",
        "args",
        "kwargs",
        "ritarnzy",
        "__cellzy__",
        "prontzy",
        "rtszy",
        "fluetzy",
        "lostzy",
        "taplizy",
        "doctzy",
        "ompatzy",
        "endzy",
        "ompurtzy",
        "briekzy",
        "rengizy",
        "difzy",
        "dilzy",
        "ixciptzy",
        "troyzy",
        "eszy",
        "fonellyzy",
        "frumzy",
      ];
      var palabrasReservadasRegex = new RegExp(
        "\\b(" + palabrasReservadas.join("|") + ")\\b", "i"
      );

      return {
        token: function (stream, state) {
          if (stream.eatSpace()) return null;

          if (stream.match(palabrasReservadasRegex)) {
            return "keyword"; // Cambiado de "reservada" a "keyword"
          }

          stream.next();
          return null;
        },
      };
    });

    editor = CodeMirror.fromTextArea(document.getElementById("codigo"), {
      lineNumbers: true, // Muestra números de línea
      mode: "zypher", // Establece el modo del editor (puede ser 'javascript', 'htmlmixed', etc.)
    });

    const codigo2 = document.getElementById("codigo2");

    // Usamos el evento 'change' de CodeMirror para actualizar 'codigo2'
    editor.on("change", function () {
      codigo2.innerHTML = editor.getValue();
    });
  });

  function analisisLexico() {
    const codigo = editor.getValue(); // Obtener el texto del editor
    const codigo2 = document.getElementById("codigo2");

    // Asignar el texto del editor al elemento codigo2
    codigo2.innerHTML = codigo;

    // Continuar con el resto de tu código
    let script = document.createElement("script");
    script.src = "../../staticfiles/lexico.js";
    document.head.appendChild(script);

    const titulo1 = document.getElementById("titulo1");
    const titulo2 = document.getElementById("titulo2");
    const titulo3 = document.getElementById("titulo3");

    titulo1.classList.add("aparecer");
    titulo2.classList.add("aparecer");
    titulo3.classList.add("aparecer");
}
</script>

<h1 id="titulo1" class="ocultar">Cadena de tokens</h1>

<div id="tokens-cadena"></div>

<h1 id="titulo2" class="ocultar">Tabla de tokens</h1>

<div id="tokens-container"></div>

<h1 id="titulo3" class="ocultar">Tabla de errores</h1>

<div id="tokens-container-error"></div>

<style>
  .CodeMirror .keyword {
    color: blue; /* Color que quieres aplicar a las palabras reservadas */
    font-weight: bold; /* Otras propiedades de estilo que desees aplicar */
  }

  /* Estilos para la tabla */
  table {
    border-collapse: collapse;
    width: 100%;
  }

  .ocultar {
    color: white;
  }

  /* Estilos para las celdas de la tabla */
  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  /* Estilos para las filas impares */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  /* Estilos para el encabezado de la tabla */
  th {
    background-color: #4caf50;
    color: white;
  }

  #tokens-container-error th {
    background-color: #d32727;
    color: white;
  }
  .aparecer {
    color: #000000;
  }
</style>

{% endblock %}
